.msgPreview {
  position: relative;
  overflow: hidden;
  .description {
    display: flex;
    i {
      color: #cacaca;
      font-size: 26px;
    }
    .img_box {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
      }
    }

    .icon_img {
      display: flex;

      i {
        color: #000000;
        font-size: 30px;
        padding-top: 7px;
        margin: 0px 17px 0px 0px;
      }
    }

    .text1 {
      padding-top: 5px;
      margin-left: 10px;

      h6 {
        margin: 0;
        // padding-left: 9px;
      }
    }
  }

  .chat_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;

  }

  .userInfo {
    position: relative;
    padding: 0 0 0 20px;
    min-height: 52px;
    display: flex;
    align-items: center;

    h6 {
      margin: 0 0 5px;
      font-size: 15px;
    }

    .text {
      color: #a2a2a2;
      font-size: 12px;
      margin-right: 10px;
    }

    .userImg {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}


.mesgs {
  position: relative;
  overflow: hidden;
  padding: 20px;

  .msg_history {
    overflow: hidden;
    height: calc(100vh - 340px);
    overflow-y: scroll;
    margin: 0 0 10px;
  }

  .outgoing .text {
    background-color: #8EB26F !important;
    color: #FFFFFF !important;
  }

  .outgoing,
  .incoming {
    position: relative;
    display: flex;
    flex-direction: column;

    .userImg {
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      position: absolute;
      top: 10px;

      img {
        width: 100%;
      }
    }

    .description {
      position: relative;
      overflow: hidden;
      max-width: 80%;
      display: flex;


      .time {
        display: block;
        font-size: 10px;
        color: #aaa;

        position: absolute;
        bottom: 0;
      }
    }

    .text {
      padding: 12px;
      background: #324C51;
      border-radius: 10px;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 5px;
      color: #fff;
      position: relative;
      font-size: 13px;
    }
  }

  .incoming {
    padding: 10px 10px 10px 40px;

    .userImg {
      left: 0;
    }

    .text {
      padding-right: 50px;

      .time {
        right: 6px;
        text-align: right;
      }
    }
  }

  .outgoing {
    padding: 10px 40px 10px 10px;
    align-items: flex-end;

    .userImg {
      right: 0;
    }

    .text {
      padding-right: 50px;

      .time {
        right: 6px;
        text-align: right;
      }
    }
  }

  .type_msg {
    display: flex;

    .form_control {
      padding: 0 80px;
      height: 50px;
      border-radius: 0 25px 25px 0;
      border-color: rgba(0, 0, 0, 0.05);
    }

    .position_relative {
      position: relative;
      width: 100%;
      i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #cacaca;
      }
    }
    .btn {
      background: transparent;
      color: #ccc;
    }
    .btn {
      width: 40px;
      height: 36px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      line-height: 36px;
      border: 1px solid;
      border-radius: 20px;
      background: #CCCCCC;
      color: white;
      margin-top: 7px;
      margin-right: 13px;
    }

    .btn_next {
      &.btnSend {
        color: #CCCCCC;
        border: none;
        background: transparent;
        font-size: 28px;

      }
    }
  }
}