.heading_bg{
    background: #F4F4F4;
    height: 55px;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: 50px;
    margin: 5px
}
.top_section{
    p{
        color: #B0BFC2;
    }
}
.cardList{
    position: relative;
    overflow: hidden;
    counter-reset: my-awesome-counter;
    column-count: 4;
    padding: 15px;
    column-gap: 0;
    .col{
        padding: 8px;
        break-inside: avoid;
        page-break-inside: avoid;
    }
    .card{
        border: none;
        box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
        position: relative;
        padding: 10px 10px 10px 50px;
        counter-increment: my-awesome-counter;

        &:after{
            content: counter(my-awesome-counter);
            position: absolute;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
            color: #000;
            background: #F4F4F4;
            border-radius: 5px;
            top: 10px;
            left: 10px;
            bottom: 10px;
        }

        p{
            margin: 0;
        }
        
    }
}