
.heading_bg{
    width: 40px;
    margin: 10px;
    background: #F4F4F4;
    height: 55px;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 5px;
   
}
.top_section{
    p{
        color: #B0BFC2;
    }
}