.boxes_rounded{
    border: transparent;
    border-radius: 15px;
    background-color: #FBFBFB;
    margin-bottom: 20px;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}