.messageListSidebar {
  width: 300px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  h1{
    margin-left: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: calc(100vh - 200px);
    overflow: hidden;
    scrollbar-color: #6e31a2 transparent;
    scrollbar-width: 4px;

    li {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 55px;
      cursor: pointer;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      color: #fff;
      time{
        margin-bottom: 16px;
      }

      .icon_text {
        display: flex;
        margin: 14px 6px 0px;
        img{
          width: 40px;
          height: 40px;
          margin: 0 10px;
        }
        i {
          padding: 0 10px;
        }
        p{
          &.active{
            color: white !important;
          }

        }
      }

      &.active
      {
        background: #8EB26F;
        color: #fff;

        p{
          color: #fff;
        }
      }
    }

    .userImg {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 15px;
      left: 15px;

      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 50%;
      }
    }

    .description {
      overflow: hidden;
      font-size: 12px;
      padding: 0 40px 0 0;
      position: relative;

      .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .counter {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
        background: #000;
        color: #fff;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }

      time {
        float: right;
        padding: 0 0 0 20px;
        position: relative;
        margin-left: 10px;

        &:before {
          position: absolute;
          content: "";
          width: 4px;
          height: 4px;
          background: rgba(0, 0, 0, 0.2);
          display: block;
          top: 7px;
          left: 6px;
          border-radius: 50%;
        }
      }
    }

    h6 {
      font-size: 14px;
      margin: 0;
    }
  }

  .search-form {
    .form-control {
      border-color: transparent;
    }
  }
}


