.inner_styling {
    
    justify-content: space-between;

    i {
        font-size: 30px;
        color: #8EB26F;
        width: 60px;
    }

    p {
        color: #7265E3;
        font-size: 16px;
      
    }
}

