.card_background {
    background: #E5E5E5;
    margin: 10px;
    border-radius: 15px;
}

.providerRow {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .inner_body {
        flex: 0 0 calc(50% - 10px);
        margin: 5px !important;
        padding: 20px 50px 20px 60px;
        border: none;
        box-shadow: none;
        background: rgba($color: #000000, $alpha: 0.02);
        cursor: pointer;

    }

    .chatBtn {
        font-size: 13px;
        color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background: #8EB26F;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 17px;
        right: 10px;
    }

    .profile_img {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 10px;
        left: 10px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}



// ==================POPUP SCSS =================//


.customModal {

    [class="modal-content"] {
        margin-top: 100px;
    }

    .main_popup {
        border-radius: 30px;
        cursor: pointer;

        .profile_img2 {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid #fff;
            margin: -90px auto 15px;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}