.user_sec{
    padding: 15px 0;
   
    p{
        color: #000000;
    }
    .img_box{
       width: 50px;
       height: 50px;
       position: absolute;
       border-radius: 50%;
       overflow: hidden;
       img{
        width: 100%;
        height: auto;
        display: block;
       }
    }
    .profile_info{
        padding: 5px 0px 0 55px;
    }
}
.border_box{
    border: 1px solid #cacaca;
    padding: 10px;
    margin-bottom: 10px;
    .date_cv{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}