.user_sec{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    p{
        color: #000000;
    }
}
.border_box{
    border: 1px solid #cacaca;
    padding: 10px;
    margin-bottom: 10px;
}