.font-12{
  font-size: 12px !important;
}
.font-16{
  font-size: 16px !important;
}
.font-18{
  font-size: 18px !important;
}
.font-20{
  font-size: 20px !important;
}
.text-orange{
  color: #E4572E;
}

.text-success{
  color: #00CC52 !important;
}

.text-danger{
  color: #FF2F6D !important;
}

.bg-danger{
  background: #FE7171 !important;
}

.bg-dark{
  background: #062D62 !important;
}

.text-green{
  color: $theme-color !important;
}

.bg-success{
  background: #D9FFE8 !important;
  color: #28CA69 !important;
}
.bg-purple{
  background: #E0E7FF !important;
  color: #6476B3 !important;
}

.text-right{
  text-align: right;
}