@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/dist/react-datepicker.css";

@import "Style/base";

body {
  font-size: 14px;
  line-height: 20px;
  font-family: $gilroy;
}

section {
  padding: 15px;
  margin: 20px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 0 10px -7px rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0 0 15px;
  background-repeat: no-repeat;
  background-size: cover;

  &.bg-bottom-right{
    background-position: 100% 100%;
    background-size: 168px;
  }
  &.bg-bottom-right_2{
    background-position: 101% 121%;
    background-size: 245px;
    background-color: #324C51;
    border-radius: 30px;
    padding: 40px;

  }
  .card-header {
    background: none;
    border-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-title {
    font-size: 24px;
    line-height: 30px;
  }
}

// .formDivider {
//   width: 100%;
//   position: relative;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;

//   span {
//     display: inline-block;
//     vertical-align: top;
//     padding: 0 10px;
//     position: relative;

//     &:before,
//     &:after {
//       position: absolute;
//       content: "";
//       height: 1px;
//       width: 9999px;
//       background: rgba(0, 0, 0, 0.05);
//       top: 50%;
//       transform: translateY(-50%);
//       display: block;
//     }

//     &:before {
//       left: 100%;
//     }

//     &:after {
//       right: 100%;
//     }
//   }
// }

// .ReactInputVerificationCode__container {
//   #one-time-code {
//     position: absolute;
//     opacity: 0;
//   }

//   .ReactInputVerificationCode__item {
//     width: 50px !important;
//     height: 50px !important;
//     line-height: 48px !important;
//     border-radius: 10px !important;
//     border-color: rgba(0, 0, 0, 0.05) !important;
//     background: rgba(0, 0, 0, 0.02) !important;
//   }
// }

// .status {
//   width: 10px;
//   height: 10px;
//   background: #f00;
//   display: block;
// }


// .main_top {
//   border-radius: 15px;
//   border: 1px solid #E5E5E5;
//   margin: 30px;
// }

nav {
  .dropdown {

    &.show {
      .btn {
        &:after {
          transform: rotate(-225deg);
          top: 23px;

        }
      }
    }

    .btn {
      padding: 15px 25px 15px 40px;
      border-radius: 0;
      background: #fff;
      color: #000;
      display: block;
      border: none;
      height: auto;
      line-height: 20px;
      font-weight: 600;
      font-size: 16px;
      position: relative;
      width: 100%;
      text-align: left;

      &:focus {
        background: none;
      }

      &:hover {
        background: transparent;
        color: #8EB26F;

        &:after {
          border-color: #8EB26F;
        }

      }

      &:after {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        border: none;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: rotate(-45deg);
        top: 18px;
        right: 9px;
        transition: all linear 0.3s;
      }


      >i {
        position: absolute;
        top: 13px;
        left: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
      }

    }

    .dropdown-menu {
      position: static !important;
      width: 100%;
      transform: none !important;
      border: none;
      margin: 0 !important;
    }
  }
}

// .boxes_rounded {
//   border: transparent;
//   border-radius: 15px;
//   background-color: #FBFBFB;
//   margin-bottom: 20px;
//   height: 700px;

//   .form-check-input[type=checkbox] {
//     border-radius: 10.25em;
//     width: 30px;
//     height: 30px;
//   }
// }

.inner_styling {
  i {
    font-size: 30px;
    color: #8EB26F;
    width: 40px;
  }

  p {
    color: #7265E3;
    font-size: 16px;
    margin-top: 3px;
    text-align: center;
  }
}

.activity_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.col2 {
    li {
      flex: 0 0 50%;
    }
  }

  &.col3 {
    li {
      flex: 0 0 33.3%;
    }
  }




  li {
    flex: 0 0 100%;
    display: block;
    padding: 15px;
  }

  .box {
    display: block;
    border-radius: 10px;
    padding: 20px 40px;
    background: rgba($color: #000000, $alpha: 0.05);
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

  }

  .box_accordian {
    .accordion-header {
      button {
        display: block;
        border-radius: 10px;
        padding: 20px 40px;
        background: rgba(0, 0, 0, 0.05);
        position: relative;
        color: #000;
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    .accordion-body {
      padding: 0 !important;

      .list-group {
        background-color: #FAFAFA;
        display: block;
        text-align: center;
        cursor: pointer;

        .list-group-item {
          background-color: #FAFAFA;
          color: black;
          font-weight: 500;

          &:hover {
            background-color: #8EB26F;
          }
        }
      }
    }
  }
  .boxes_rounded{
    a{
       text-decoration: none;
    }
    .form-check-input[type=checkbox] {
        border-radius: 10.25em;
        width: 30px;
        height: 30px;
  }
}
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: rgba($color: #000000, $alpha: 0.3) !important;
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 6px;
    font-size: 10px;
  }
}

.vertical-tabs {
  &.message_tabs{
    .nav-item{
     a{
      border-radius: 0 !important;
     }
     p {
      &.active{
        color: white !important;
      }
     
     }
    }
  }
  .nav-item {

    i {
      font-size: 16px;
      color: #8EB26F;
    }

    .nav-link {
      background-color: #F5F5F5;
      color: black;
      padding: 15px;

     p{
      color: black;
     }

      &.active {
        background-color: #8EB26F;
        color: white;
        padding: 15px;

        i {
          font-size: 16px;
          color: white !important;

        }
        p{
          
            color: white !important;
          
        }
      }
    }
  }
}

.piechart{
  border: 1px solid #cacaca;
  position: relative;
    width: 100%;
    height: 600px;
    display: block;
    margin: 50px;
    padding: 50px;
    .inner-pie{
    
      margin: auto;
    }
}
.chart_card{
  margin: 20px;
}
  .second-tab {
    margin: 20px;
    li{
      button{
      //  border: none !important;
       border-bottom: 3px solid transparent !important;
       border-top: none !important;
       border-right: none !important;
       border-left: none !important;
       color: black !important;
       font-weight: 500;
       font-size: 16px;
        &.active , &:hover{
         border-bottom: 3px solid #8EB26F !important;
         color: #8EB26F !important;
        }
      }
    }
  }
  .tab-content{
    margin: 20px;
  
  }
  .bar-chart{
    border: 1px solid #cacaca;
    width: 800px;
    margin: auto;
    padding: 20px;
    
  }
  .main-charts{
    display: flex;
    justify-content: space-between;
    .dropdown{
      padding-top: 14px;
      .btn{
        width: 200px;
        padding-right: 80px;
        &::after{
          position: absolute;
          content: "";
          width: 8px;
          height: 8px;
          display: block;
          border: none;
          border-left: 1px solid white;
          border-bottom: 1px solid white;
          transform: rotate(-45deg);
          top: 26px;
          right: 9px;
          transition: all linear 0.3s;
        }
      }
    }
  }
.react-datepicker{
  border-radius: 20px !important;
  border: 0.5px solid #cacaca;
.react-datepicker__month-container{
.react-datepicker__header {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  .react-datepicker__day-names{
    .react-datepicker__day-name{

      color:rgba(142, 178, 111, 1) !important;
      // font-weight: 700;
      font-weight: bolder;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
.react-datepicker__month{
  .react-datepicker__week{
    .react-datepicker__day--selected{
      background-color:rgba(142, 178, 111, 1) !important;
      border-radius: 20px !important;
    }
  }
}
}
}

  .date-set{
    width: 200px;
    display: flex;
    padding: 13px;
  
    .picker-bg{
      background-color: #EAF4F0 !important;
      border: transparent;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .csv{
    display: flex;
    border: 1px solid #cacaca;
    width: 175px;
    padding: 10px 17px;
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    h4{
      padding-left: 10px;
      margin: 0;
    }
    .csv-img{
      img{
        width: 100%;
      }
    }
  }
//  .modal-content{
//   border-radius: 30px !important;
//   width: 390px !important;
  
//  }
 