@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/dist/react-datepicker.css";
@import "Style/base";

body {
  font-size: 14px;
  line-height: 20px;
  font-family: $gilroy;
}

section {
  margin: 25px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 0 10px -7px rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0);
  padding: 15px;
  margin: 0 0 20px;
  background-repeat: no-repeat;
  background-size: cover;

  &.bg-bottom-right{
    background-position: 100% 100%;
    background-size: 168px;
  }
  &.bg-bottom-right_2{
    background-position: 101% 121%;
    background-size: 245px;
    background-color: #324C51;
    border-radius: 30px;
    padding: 40px;

  }
  .card-header {
    background: none;
    border-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }

  .card-title {
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0;
  }
}

// .formDivider {
//   width: 100%;
//   position: relative;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;

//   span {
//     display: inline-block;
//     vertical-align: top;
//     padding: 0 10px;
//     position: relative;

//     &:before,
//     &:after {
//       position: absolute;
//       content: "";
//       height: 1px;
//       width: 9999px;
//       background: rgba(0, 0, 0, 0.05);
//       top: 50%;
//       transform: translateY(-50%);
//       display: block;
//     }

//     &:before {
//       left: 100%;
//     }

//     &:after {
//       right: 100%;
//     }
//   }
// }

// .ReactInputVerificationCode__container {
//   #one-time-code {
//     position: absolute;
//     opacity: 0;
//   }

//   .ReactInputVerificationCode__item {
//     width: 50px !important;
//     height: 50px !important;
//     line-height: 48px !important;
//     border-radius: 10px !important;
//     border-color: rgba(0, 0, 0, 0.05) !important;
//     background: rgba(0, 0, 0, 0.02) !important;
//   }
// }

// .status {
//   width: 10px;
//   height: 10px;
//   background: #f00;
//   display: block;
// }


// .main_top {
//   border-radius: 15px;
//   border: 1px solid #E5E5E5;
//   margin: 30px;
// }

nav {
  .dropdown {

    &.show {
      .btn {
        &:after {
          transform: rotate(-225deg);
          top: 23px;

        }
      }
    }

    .btn {
      padding: 15px 25px 15px 40px;
      border-radius: 0;
      background: #fff;
      color: #000;
      display: block;
      border: none;
      height: auto;
      line-height: 20px;
      font-weight: 600;
      font-size: 16px;
      position: relative;
      width: 100%;
      text-align: left;

      &:focus {
        background: none;
      }

      &:hover {
        background: transparent;
        color: #8EB26F;

        &:after {
          border-color: #8EB26F;
        }

      }

      &:after {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        border: none;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: rotate(-45deg);
        top: 18px;
        right: 9px;
        transition: all linear 0.3s;
      }


      >i {
        position: absolute;
        top: 13px;
        left: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
      }

    }

    .dropdown-menu {
      position: static !important;
      width: 100%;
      transform: none !important;
      border: none;
      margin: 0 !important;
    }
  }
}

// .boxes_rounded {
//   border: transparent;
//   border-radius: 15px;
//   background-color: #FBFBFB;
//   margin-bottom: 20px;
//   height: 700px;

//   .form-check-input[type=checkbox] {
//     border-radius: 10.25em;
//     width: 30px;
//     height: 30px;
//   }
// }

.inner_styling {
  i {
    font-size: 30px;
    color: #8EB26F;
    width: 40px;
  }

  p {
    color: #7265E3;
    font-size: 16px;
    margin-top: 3px;
    text-align: center;
  }
}

.activity_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.col2 {
    li {
      flex: 0 0 50%;
    }
  }

  &.col3 {
    li {
      flex: 0 0 33.3%;
    }
  }




  li {
    flex: 0 0 100%;
    display: block;
    padding: 15px;
  }

  .box {
    display: block;
    border-radius: 10px;
    padding: 20px 40px;
    background: rgba($color: #000000, $alpha: 0.05);
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

  }

  .box_accordian {
    .accordion-header {
      button {
        display: block;
        border-radius: 10px;
        padding: 20px 40px;
        background: rgba(0, 0, 0, 0.05);
        position: relative;
        color: #000;
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    .accordion-body {
      padding: 0 !important;

      .list-group {
        background-color: #FAFAFA;
        display: block;
        text-align: center;
        cursor: pointer;

        .list-group-item {
          background-color: #FAFAFA;
          color: black;
          font-weight: 500;

          &:hover {
            background-color: #8EB26F;
          }
        }
      }
    }
  }
  .boxes_rounded{
    a{
      text-decoration: none;
    }
    .form-check-input[type=checkbox] {
      border-radius: 10.25em;
      width: 30px;
      height: 30px;
    }
  }
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: rgba($color: #000000, $alpha: 0.3) !important;
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 6px;
    font-size: 10px;
  }
}

.nav-tabs {

  &.message_tabs{
    .nav-item{
      a{
        border-radius: 0 !important;
      }
      p {
        &.active{
          color: white !important;
        }

      }
    }
  }

  .nav-item {



    i {
      font-size: 16px;
      color: #8EB26F;
    }

    .nav-link {
      background-color: #fff;
      color: black;
      padding: 15px;
      border: none;
      border-bottom: 3px solid transparent;

      p{
        color: black;
      }

      &.active {

        border-color:#8EB26F;
        color: #8EB26F;

        i {
          font-size: 16px;
          color: white !important;

        }
        p{

          color: white !important;

        }
      }
    }
  }
}

.piechart{
  border: 1px solid #cacaca;
  position: relative;
  width: 100%;
  height: 600px;
  display: block;
  margin: 50px;
  padding: 50px;
  .inner-pie{

    margin: auto;
  }
}
.chart_card{
  margin: 20px;
}

.tab-content{
  margin: 20px;

}
.bar-chart{
  border: 1px solid #cacaca;
  width: 800px;
  margin: auto;
  padding: 20px;

}
.main-charts{
  display: flex;
  justify-content: space-between;
  .dropdown{
    padding-top: 14px;
    .btn{
      width: 200px;
      padding-right: 80px;
      &::after{
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        border: none;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        transform: rotate(-45deg);
        top: 26px;
        right: 9px;
        transition: all linear 0.3s;
      }
    }
  }
}
.react-datepicker-wrapper{


  input{
    padding-left: 45px;
    background: url(../Images/IconCalender.svg) no-repeat;
    background-position: 10px center;
    background-size: 25px;
    background-color: rgba(48, 150, 103, 0.1);
    border-color: rgba(48, 150, 103, 0.1);

    &:focus{
      background-color: rgba(48, 150, 103, 0.15);
    }
  }

}


.react-datepicker{
  background: #fff;
  border-radius: 15px;
  border-color: rgba(0,0,0,0.05);
  overflow: hidden;
  padding: 10px;




  .react-datepicker__triangle{
    display: none;
  }

  .react-datepicker__header{
    background: #fff;
    border: none;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name{
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
  }

  .react-datepicker__day-name{
    color: #8EB26F;
    text-transform: uppercase;
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--selected{
    background: #8EB26F;
  }

  .react-datepicker__current-month{
    padding: 10px 80px 10px 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
  }

  .react-datepicker__navigation{
    top: 13px;
    background: rgba(19, 15, 38, 0.0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
    position: absolute;

    span{
      &:before{
        width: 12px;
        height: 12px;
        border-width: 1px 1px 0 0;
        border-color: #000;
      }
    }

    &.react-datepicker__navigation--previous{
      left: auto;
      right: 40px !important;

    }

    &.react-datepicker__navigation-icon--next {
      left: auto;
      right: 10px !important;
    }
  }


}

//  .modal-content{
//   border-radius: 30px !important;
//   width: 390px !important;

//  }


.ReactInputVerificationCode__container {
  width: auto !important;

  #one-time-code {
    position: absolute;
    opacity: 0;
  }

  .ReactInputVerificationCode__item {
    width: 50px !important;
    height: 50px !important;
    line-height: 48px !important;
    border-radius: 10px !important;
    border-color: rgba(0, 0, 0, 0.05) !important;
    background: rgba(0, 0, 0, 0.02) !important;
  }
}