.Habit_background{
    width: 100%;
    background-color:#324C51;
    border-radius: 30px;
    margin: 10px;
    .position{
        width: 100%;
        padding: 100px 80px;
        h1{
            color: white;
          
        }
    }
    img{
        width: 100%;
        height: auto;
        display: block;
        border-radius: 30px;
    }

}