.top_header {
    background-color: #E5E5E5;
    span {
        font-size: 24px;
        border: transparent;
        background: white;
        padding: 10px;
    }
}


.table_stars {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
      list-style: none;
        text-align: center;
        justify-content: center;
        color: #F3C043;

    }
}

.table_image {
    list-style: none;
    display: flex;
    padding: 10px;
    .img_box {
        width: 100%;
        height: auto;
        display: block;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    }
}

// ----------end-------//

// p {
//    color: #626262;

// }

// .img_box {
//     width: 100%;
//     height: auto;
//     display: block;
//     text-align: center;

// }

// img {

//     height: 200px;
//     border-radius: 100px;
// }

// .left_card {


//     ul li {

//         position: relative;
       
//         padding: 10px 0;
//         list-style: none;

//     }
// }

// .card_body_left {
   
       
    

//     .img_box2 {
//         margin: 0;
//         padding: 0;
//         width: 50%;
//         height: auto;
//         display: block;

//         img {
//             width: 100%;
//             border-radius: 10px;
//         }
//     }

//     .img_box3 {
//         margin: 0;
//         padding: 0;
//         width: 50%;
//         height: auto;
//         display: block;

//         img {
//             width: 100%;
//             border-radius: 10px;
//         }
    
// }
// }