.inner_styling {
    
    justify-content: space-between;
    display: flex;
    p {
        color: #7265E3;
        font-size: 16px;
        margin-top: 10px;
        padding-right: 80px;
    }
    h3{
        padding-top: 10px;
    }
}
.img_box{
      
    height: auto;
    display: block;
    img{
      width: 50px;
      height: 50px;
    }
}
.record {
    border-radius: 15px;
    border: transparent;
    background: #E5E5E5;
    padding: 20px;
    margin: 20px;
  
    span {
        background: #8EB26F;
        border-radius: 15px;
        font-size: 34px;
        color: white;
    }
    .text_color{
        color: #8EB26F;
    }
}
.Habit_background{
    width: 100%;
    background-color:#324C51;
    border-radius: 30px;
    // margin: 10px 0;
    display: flex;
    .img_box{
        height: auto;
        display: block;
        width: 100%;
        img{
          width: 50px;
          height: 50px;
        }
    }
    .img_box_2{
        width: 100%;
        display: block;
        img{
            width: 320px;
        }
    }
    .position{
        width: 100%;
        padding: 100px 80px;
        h1{
            color: white;
          
        }
    }
  
    .challenges {

      margin: 30px;
      width: 100%;

        i {
            color: #8EB26F;
            font-size: 24px;
            margin: 15px 0px;
        }
        h4{
            color: #8EB26F;
        }

       
        h3{
            color: white;
        }
    }

}
.boxes_rounded{
   &a{
        text-decoration: none !important;
    }
    .form-check-input[type=checkbox] {
        border-radius: 10.25em;
        width: 30px;
        height: 30px;
    }
}