.profile_img {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
        min-height: 240px;
    }

    .img_text {
        position: absolute;
        top: 50px;
        left: 10px;
        bottom: 0;
        right: 30px;

        p {
            color: white;
        }

        h3 {
            color: white;
        }

        a {
            text-decoration: none;

            i {
                font-size: 14px;
                color: white;
                border-radius: 50px;
                width: 40px;
                height: 40px;
                text-align: center;
                background: #000000;
                display: inline-block;
                line-height: 40px;

            }
        }

    }

}




.img_box {
    height: auto;
    display: block;

    img {
        width: 100%;
    }
}

.inner_card {
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 220px;
    border-radius: 30px !important;

    i {
        font-size: 34px;
        color: #8EB26F;
    }

    p {
        color: #7265E3;
    }
}

.right_bottom {
    border: 1px solid gainsboro;
    border-color: rgba(0, 0, 0, 0.02) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: transparent;
    text-align: center;
    padding: 30px;

    .inner_header {
        background-color: transparent;
        display: flex;
    }

    span {
        padding: 15px;
        font-size: 20px;
    }

    .card_background {
        background: #E5E5E5;
        margin: 10px;
        border-radius: 15px;
    }
}

.login_img {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.challenges {
    
    i {
       

         font-size: 24px !important;
         color: #8EB26F;
       
         width: 40px;
         height: 40px;
         text-align: center;
      
         display: inline-block;
         line-height: 40px;
    }

    p {
        color: #8A8A8A;

    }
}

.card_inner {
    border-color: rgba(0, 0, 0, 0.02) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: transparent;
    text-align: center;

    .icon_box {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        margin: 20px auto 10px;
        color: #8EB26F;
    }

    .header_card {
        background-color: transparent !important;
        border: none;

        i {
            font-size: 34px;
            color: #8EB26F;
        }
    }

    p {
        color: #7265E3;
    }

}


